extends ../template

block variables
  - var title = 'Добро пожаловать'

block content
  div.fon 
    div.wrap
      div.form
        div.form__avatar
        div.form__title Мочалкин Иван
        div.form__description Личный сайт веб разработчика
        div.social
          a.social__link.vk(href="/blog.html") 
          a.social__link.fb(href="/blog.html")
          a.social__link.in(href="/blog.html") 
      include ../common/menu.pug
        
   
  