.button {
    padding: 14px 32px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    &__text {
        font-family: "Roboto Medium";
    }
    &_color_white {
        color: #fff;
        &:hover{
            color: $bg-color-green;
        }
    }
    &_size_16 {
        font-size: 16px;
    }
}