#parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $parallax-bg;
}

.parallax__layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.parallax__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 109%;
}