/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.09.2017, 0:53:11
    Author     : ИВАН
*/
.wrap {
  margin: auto; 
}
.form {
  background: rgba(252, 252, 252, 0.85) ;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 45px 65px 0; 
}
.form__avatar {
    background: url("https://pp.userapi.com/c837633/v837633921/36894/VisD42Y0sTY.jpg") no-repeat;
    height: 145px;
    width: 145px;
    background-size: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}
.form__description,
.form__title {
    color: #455a64;
    text-align: center;
    white-space: nowrap
}
.form__title {
    font-family: "Roboto Medium";
    font-size: 28px;
}
.form__description {
    font-family: "Roboto Regular";
    font-size: 16px;
}
.social{
    padding: 10px 0;
}
.social__link{
    
}

