.form { 
    padding-top: 45px;
    background: rgba(252, 252, 252, 0.85) ;
    @include border-top-radius(5px);
    &__social{
      padding: 40px 0;
    }
    &__width {
        min-width: 327px; 
        @media (min-width: 992px) {
          min-width: 405px;
        }
    }
}