.form { 
    background: rgba(252, 252, 252, 0.85) ;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 45px 45px 0; 
    @media (min-width: 992px) {
      padding: 45px 65px 0;
    }
    &__social{
      padding: 35px 0;
    }
}