.user {  
  &__avatar {
    height: 145px;
    width: 145px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    overflow: hidden;
  }
  &__description,
  &__title {
    color: #455a64;
    text-align: center;
    white-space: nowrap;
  }
  &__title {
    font-family: "Roboto Medium";
    font-size: 28px;
  }
  &__description {
    font-family: "Roboto Regular";
    font-size: 16px;
    padding-top: 7px;
  }
}